.navbar{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-bg-color);
    .nav-item{
        margin: 0 1rem;
        color: var(--nav-font-color);
        font-weight: 600;
        font-size: 1.1rem;
        text-decoration: none;
    }
}