// 音声卡片默认样式
.panel-container{
    border-radius: .2rem;
    margin: 1rem;
    box-shadow: 0 .1rem .2rem var(--shadow-color);
    background-color: var(--panel-bg-color);
    position: relative;
    
    .panel-info-container{
        display: flex;
        align-items: center;
        position: relative;
        
        div{
            display: inline-block;
        }
        
        .panel-tags{
            font-weight: 600;
            margin: 1rem 1rem 0 1rem;
            color: var(--info-font-color);
        }

        .panel-alias{
            margin: 1rem 0 0 0;
            font-weight: 500; 
            color: var(--global-font-color);
        }

    }
    
    .panel-btn-container{
        padding: .5rem 0;
        display: flex;
        flex-wrap: wrap
    }

    .heimu{ 
        width: auto;
        background-color: #252525; 
        color: #252525; 
        text-shadow: none; 

        &:hover{ transition: color .13s linear; color: whitesmoke;}
    }

    // 显示最新的音声panel右上角的标致
    .panel-new{
        display: none;
        position: absolute;
        right: 0;

        i.i-new{
            color: #d81e06;
            font-size: 4rem;
        }
        
    }

    .isNew{
        display: block;
    }

    // mobile适配
    @media screen and (max-width: 680px){
        .panel-tags{
            font-size: 1.1rem;
        }
        .panel-alias{
            font-size: 1.1rem;
        }
    }

    @media screen and (min-width: 680px){
        .panel-tags{
            font-size: 1.4rem;
        }
        .panel-alias{
            font-size: 1.4rem;
        }
    }
    
}
// 音声控制卡片默认样式
.audioPanel-container{
    width: 100%;
    position: sticky;
    bottom: 0;
    background-color: var(--audio-panel);
    color: var(--audio-font-color);

    .audioinfo{
        text-align: center;
        padding: 1rem 0 .5rem 0;
    }

    .audio-info-show{
        animation: zoomIn 1s;
    }
    
    .audioControl-container{
        display: flex;
        flex-direction: row;
        justify-content: center;

        div{
            i{
                font-size: 1.7rem;
            }
            margin: 0 1.2rem .5rem 1.2rem;
            padding: .5rem;
            border-radius: 2rem;
            cursor: pointer;
        }

        div:hover{
            background-color: var(--audio-hover-color);
        }

        .control-btn-click{
            animation: oneBeat 1s;
        }

        .cbtn-bg-click{
            animation: pulse 1s;
        }

    }

    .loopInfo{
        font-size: .7rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: .7rem;
        span{
            display: block;
        }
    }
    
}
// 网站公告默认样式 & danmaku组件默认样式
.annoPanel-container{
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;
    align-items: center;
    position: relative;
    color: var(--info-font-color);

    .profile-container{
        position: relative;
        margin: 0 1rem;
        
        .profile{
            width: 6rem;
            height: 6rem;
            border-radius: 3rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .profile-border{
            position: absolute;
            top: 0;
            width: 6rem;
            height: 6rem;
            background-color: transparent;
            border-radius: 3rem;
        }

        .profile-info{
            display: none;
            font-weight: 600;
            padding: .3rem .2rem;
            border-radius: .6rem;
            background-color: red;
            border: 1px solid white;
            text-align: center;
            cursor: pointer;
            a{
                text-decoration: none;
                color: white;
            }
        }

        .live{
            border: 1.7px solid red;
            animation: liveOn 2s infinite linear;
        }

        .liveInfo{
            display: block;
        }
        
    }
    
    

    #danmu-collect{
        width: 20%;
    }

    .site-info{
        font-size: 1.3rem;
        line-height: 1.7rem;
        text-align: center;

        .site-inner{
            padding: .2rem 0;
            letter-spacing: .1rem;
        }

        .site-title{
            font-weight: 700;
        }

        .site-gray{
            font-size: .7rem;
            color: #d0e6ff;
        }

        .site-important{
            font-size: .9rem;

            i.i-gitee{
                font-size: 1.1rem;
                color: red;
                margin: 0 0 0 .5rem;
            }

            a{
                display: inline-block;
                margin: 0 0 0 .5rem;
            }

            i.i-heart{
                font-size: 1rem;
                color: red;
                animation: oneBeat .6s linear infinite;
            }
            
        }

        .shields-container{
            display: flex;
            justify-content: center;

            img{
                padding: 0 .5rem;
            }
        }

        .heimu{ 
            width: auto;
            background-color: #252525; 
            color: #252525; 
            text-shadow: none; 

            &:hover{ transition: color .13s linear ; color: #d0e6ff; }
        }
        
    }

    .site-inner-leftimg{
        width: var(--head-img-wh);
        height: var(--head-img-wh);
        position: absolute;
        left: var(--head-img-padding);
        bottom: 0;
        background-image: url(https://static.xiaoblogs.cn/img/headleft.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .site-inner-rightimg{
        width: var(--head-img-wh);
        height: var(--head-img-wh);
        position: absolute;
        bottom: 0;
        right: var(--head-img-padding);
        background-image: url(https://static.xiaoblogs.cn/img/headright.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    // mobile适配
    @media screen and (max-width: 680px){
        --head-img-padding: 1.5rem;
        --head-img-wh: 3rem;
    }

    @media screen and (min-width: 680px){
        --head-img-padding: 5rem;
        --head-img-wh: 10rem;
        
    }
    
}

.danmaku-container-panel{
    width: 100%;
    height: 100%;
    position: absolute;

    .danmaku-container{
        box-sizing: border-box;
        padding: 1rem;
        width: 100%;
        height: 100%;
        div{
            width: auto !important;
        }
    }
    
}
// 网站Footer组件默认样式
.footer-container-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem 1rem;
    padding-top: 0.5rem;
    border-top: 0.1rem solid var(--global-shadow);
    color: var(--info-font-color);

    a{
        color: var(--link-blue);
    }

    div{
        margin-top: 0.5rem;
    }

    #footer-copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        .footer-profile{
            margin-top: 0;
            margin-left: .2rem;
            margin-right: .2rem;
            width: 1.2rem;
            height: 1.2rem;
            display: inline-block;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: .8rem;
            border: .2rem solid #ff8099;
        }
    }

    

    .shield-footer-container{
        margin: .5rem 0;

        .shield-github-star{
            display: flex;
            justify-content: center;
            img{
                margin: 0 .5rem;
            }
        }

        
    }

    #footer-powerby{

        .i-playReact{
            animation: route-react 10s linear infinite;
        }

        a{
            color: #61dafb;
            font-weight: bold;
            text-decoration: none;
        }

        #footer-beian{
            margin-bottom: 1rem;

            #gongan{
                margin-left: 1rem;
            }
        }
    }

    @keyframes route-react {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    
}

// 动态卡片样式
.dynamic-card{
    padding: 1rem;

    .dynamic-card-title{
        font-weight: 600;
        color: var(--info-font-color);
    }

    .dynamic-info{
        margin: .7rem 0;
        line-height: 1rem;

        .dynamic-title{
            display: block;
            color: var(--link-blue);
            text-decoration: underline;
            margin: 0 0 .5rem 0;
        }

        .dynamic-time{
            font-size: .5rem;
            color: var(--audio-font-color);
        }
    }

    .dynamic-content{
        color: var(--global-font-color);
        line-height: 1.5rem;
        letter-spacing: .5px;
        iframe, br, img, img[alt]{
            display: none !important;
        }
    }

    

    // mobile适配
    @media screen and (max-width: 680px){
        .dynamic-card-title{
            font-size: 1.1rem;
        }
        .dynamic-content{
            font-size: .8rem;
        }
    }

    @media screen and (min-width: 680px){
        .dynamic-card-title{
            font-size: 1.3rem;
        }
        .dynamic-content{
            font-size: .9rem;
        }
    }
    
}


// 动画
// audio panel 按钮动画
@keyframes oneBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    50% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

// 入场动画
.siteinfoZoomIn{
    --zoomInDelay: 0;
    animation: zoomIn 1s;
    animation-delay: calc(1s * var(--zoomInDelay));
}
.drawPanelZoomIn{
    --zoomInDelay: 0;
    animation: zoomIn 1s;
    animation-delay: calc(1s * var(--zoomInDelay));
}
.dynamicZoomIn{
    --zoomInDelay: 0;
    animation: zoomIn 1s;
    animation-delay: calc(1s * var(--zoomInDelay));
}
.voicePanelZoomIn{
    --zoomInDelay: 0;
    animation: zoomIn 1s;
    animation-delay: calc(1s * var(--zoomInDelay));
}

// live on 动画
@keyframes liveOn {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0%;
    }
}
