.dark{
    --info-font-color: #f6f6f6;
    --nav-bg-color: #1d1d1d;
    --shadow-color: transparent;
    --background-color: #1D1F21;
    --panel-bg-color: #333333;
    --global-font-color: #CCCCCC;
    --link-blue: #259dd4;
    --btn-bg: #292929;
    --audio-panel: rgba(59,59,59,.7);
    --audio-font-color: #cccccc;
    --audio-hover-color: #1D1F21;
    --i18n-bg: #1D1F21;

    --xiaoxi-color: #CD3951;
    --xiaotao-color: #bba5d7;
    --xiaorou-color: #89dedb;
    --reine-color: #a272f4;
    --ailurus-color: #fdc888;
}