:root{
    --nav-font-color: white;
    --nav-bg-color: #1c264a;
    --shadow-color: #f0f0f0;
    --background-color: #f6f6f6;
    --panel-bg-color: #ffffff;
    --global-font-color: #999999;
    --btn-bg-color: #d6d7df;
    --link-blue: #259dd4;

    --xiaoxi-color: #CD3951;
    --xiaotao-color: #bba5d7;
    --xiaorou-color: #89dedb;
    --reine-color: #a272f4;
    --ailurus-color: #fdc888;
}