:root{
    --nav-font-color: white;
    --nav-bg-color: #1c264a;
    --shadow-color: #f0f0f0;
    --background-color: #f6f6f6;
    --panel-bg-color: #ffffff;
    --global-font-color: #ccc;
    --btn-bg-color: #d6d7df;

    --xiaoxi-color: #CD3951;
    --xiaotao-color: #DCCAE8;
}