name: Deploy to Aliyun

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push: 
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v4

      # Install node js version
      - name: use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      # node install & build
      - name: install and build
        run: |
          npm install
          npm run build
        env:
          CI: false
      #Deploy
      - name: SSH Deploy
        uses: kostya-ten/ssh-server-deploy@v4
        with:
          host: ${{ secrets.REMOTE_HOST }}
          port: ${{ secrets.REMOTE_PORT }}
          username: ${{ secrets.REMOTE_USER }}
          private_key: ${{ secrets.xysbtndeploy }}
          scp_source: build/*
          scp_target: ${{secrets.REMOTE_TARGET}}
